* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", serif;
  width: 100%;
  height: 100%;
} 
.mainContainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .leftSide{
   width: 50%;

      .macrocodeLogo{
      align-self: start;
      margin: 35px 0 0 100px;
      width: auto;
    }

    .backgroundImg{
      background-image: url('images/ellipse.svg');
      background-size: cover;  
      background-repeat: no-repeat;  
      background-position: center;  
      align-self: center;
      margin: 205px 0 0 68px;
      width: auto;
    }
  }

  .rightSide{
    width: 50%;
    background-color: #1780C0;
      .loginContent{
        display: flex;
        justify-content: center;
        text-align: center;
        max-width: 525px;
        background-color: white;
      }
 
  }
}
