* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", serif;
  width: 100%;
} 
.mainContainer{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;

  .leftSide{
   width: 50%;
   height: 100vh;

    .macrocodeLogo{
      align-self: start;
      margin: 35px 0 0 100px;
      width: auto;
    }
  }

  .rightSide{
    width: 50%;
    height: 100vh;
    background-color: #1780C0;
      .loginContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        max-width: 525px;
        background-color: #ffffff;
        margin: 150px 149px;
          .mainText{
            margin-top: 30px;
          }
      }
      .googleBtn{
        font-family: "Poppins", serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        width: 100%;
        max-width: 407px;
        border:1px solid #D9D9D9;
        border-radius: 8px;
        background:none;
        padding: 10px;
        gap: 10px;
        margin: 0 auto;
        cursor: pointer;
      }
      .dummyText{
        margin-top: 13px;
        margin-bottom: 64px;
      }
      .divider{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
        gap: 22px;
      }
      .line{
        flex: 1;
        height: 1px;
        background-color: #BFBFBF;

      }
      .lineText{
        color: #BFBFBF;
      }
      .loginForm{
        display: flex;
        flex-direction: column;
        padding: 30px 59px;
        gap: 15px;
        .emailInputWrapper{
          background-color: #F4F4F4;
          max-width: 407px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 20px;
        }
        .passwordInputWrapper{
          background-color: #F4F4F4;
          max-width: 407px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 20px;
        }
        .emailInput{
          width: 100%;
          font-family: "Poppins", serif;
          border: none;
          background:none;
          outline: none;
        }
        .emailInput::placeholder{
          font-size: 20px;
          color: #BFBFBF;
        }
        .passwordInput{
          width: 100%;
          font-family: "Poppins", serif;
          border: none;
          background:none;
          outline: none;
        }
        .passwordInput::placeholder{
          font-size: 20px;
          color: #BFBFBF;
        }
        .eyeImg{
          width: 24px;
          height: 24px;
        }
        .lockImg{
          width: 24px;
          height: 24px;
        }
      }
        .loginBtn{
          font-family: "Poppins", serif;
          background-color: #1780C0;
          color:#ffffff;
          border-radius: 8px;
          width: 70%;
          margin-top: 92px;
          height: 5vh;
          font-size: 20px;
        }
        .registerText{
          font-family: "Poppins", serif;
          color:#0094FF;
          text-decoration: none;
        }
        .bottomText{
          font-family: "Poppins", serif;
          margin-top: 63px;
          margin-bottom: 30px;
        }
        .textArea{
          display: flex;
          justify-content: space-evenly;
          gap: 55px;
          
        .forgotText{
          font-family: "Poppins", serif;
          display: flex;
          color: #0094FF;
          text-decoration: none;
          justify-content: right;
        }
        .forgotText a{
          color: #0094FF;
          text-decoration: none;
        }
        .checkBox{
          display: flex;
          gap: 8px;
          color: #979797;
          justify-content: left;
        }
      }
  }
}