*{
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  width: 100%;
  height: 100vh;
}

.max-width {
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

 
.flex-container {
  display: flex;
}

/* Nav */

.mainLogo{
  margin-left:163px;
}

.uploadImg{
  width: 24px;
  height: 24px;
}

.burgerMenu{
  display: none;
}

nav {
  display: block;
  background-color: #F7FBFA;
}
nav a{
  color: black;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-top: 15px;
}

nav li h1 {
  font-size: 18pt;
  margin: 0;
  margin-left: -40px;
}

nav ul li {
  font-size: 16pt;
  padding-left: 50px;
  padding-top: 10px;
  font-weight: bold;
  color: black;
}

nav ul li span {
  vertical-align: middle;
  font-size: 11pt;
}

nav button {
  display: flex;
  justify-content: center;
  gap: 12px;
  max-width: 222px;
  max-height: 48px;
  height: 100%;
  width: 100%;
  margin-left: 64px;
  margin-top: 24px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 30px;
  white-space: nowrap;
  font-weight: bold;
  transform: translate(0, -50%);
  transition: ease-out 0.3s;
  margin-right: 20px;
}

nav button:hover {
  background-color: rgb(50 ,50, 50);
}

nav ul li a:hover {
  color: #e1e1e1;
}
.upload{
  color: white;
  margin-left: 20px;
  font-size: 20px;
}
.user{
  color: white;
  display: inline-block;
  bottom: 20px;
  margin-top: 10px;
  padding: 15px;
  transform: translate(-50%,-50%);
  background-color: #6DD3C2;
  border-radius: 100%;
}
.userImg{
  margin-left: 40px;
}
.divider{
  margin-left:230px;
}
/* Header */

header {
  position: relative;
  color: black;
}
.headerText{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
}
.background{
  background: linear-gradient(49.39deg, #D27CFB 0%, #8668FF 29.34%, #1CE4FF 63.6%, #5CFF6C 94.82%);
  width: 100%;
  height:fit-content;
  z-index: 5;
}

.headerCard {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 15px;
  margin: 75px 10px;
  margin-bottom: 0;
  text-align: center;
  transition: ease-out 0.5s;
}

.headerCard div{
  display: inline-block;
  padding: 20px;
  border-radius: 100%;
}

.headerCard div div{
  padding: 15px 15px;
  border-radius: 100%;
  border: solid white;
  background-color: white;
  font-size: 12pt;
}
.headerCard span{
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: 700;
}
Header .filler{
  flex: 2;
}

.headerDate{
  padding: 10px;
  border-radius: 25px;
}

.HeaderTitle{
  width: 100%;
  padding: 0;
}

.headerTitleText{
  color: #686A6C;
}
.headerTitleTimer{
  font-size: 48px;
}
.headerTitleDate{
  font-size: 18px;
  color: #686A6C;
}
.Frame{
  display: block;
  margin: 0;
  width: 25%;
  float: left;
}


.headerButton{
margin-bottom: 75px;
}
.headerCard button { 
  display: block;
  font-size: 8pt;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  max-width: 327px;
  width: 327px;
  height: 50px;
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Main */

main {
  color: black;
  font-family: 'Rufina', serif;
}

.mainList {
  margin: 0;
}

.mainList ul {
  margin: 0;
  margin-top: 50px;
  list-style-type: none;
  padding-bottom: 50px;
  padding-left: 0;
}

.mainList ul li {
  font-size: 20pt;
  padding-left: 15px;
  padding-top: 10px;
}
.mainTitle{
  font-size: 36pt;
  padding-left: 0;

}
.arrowBtn{
  margin-left: 24px;
}
.mainTitle span{
  font-size: 48pt;
  padding-left: 0;
  font-weight: bold;
  color: black;
}

.mainList button {
  margin-top: 30px;
  font-size: 10pt;
  background-color: white;
  color: black;
  border-bottom: solid 1px #f3eaea;
  padding: 10px 25px;
  cursor: pointer;
  transition: ease-out 0.3s;
  border: none;
  font-weight: 800;
}
main i{
  color: #686A6C;
  padding-left: 20px;
}

.mainCard {
  flex: 4;
  padding: 15px;
}

.projectimg{
  z-index: 1;
  max-width: 336px;
  width: 100%;
  height: 212.84px;
  border-radius: 20px;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 10px;
  background-color: #BBD6DA;
}

.avatarName{
  font-weight: bold;
  display: inline-block;
  transform: translate(0,-50%);
  font-size: 14pt;
  padding-left: 5px;
}
main hr{
  color: #E1E2E2;
  background-color: #E1E2E2;
}
.mainCardTitle{
  font-weight: bold;
  font-size: 14pt;
}
.mainCardText{
  color: #686A6C;
  margin-bottom: 25px;
}

.mainRow,
.mainRowNd,
.mainRowRd {
  background-color: white;
}

.main .Filler{
  flex: 4;
}
.seeMore{
  flex:1;
}
.seeMore button{
  background-color: white;
  border: black 2px solid;
  color: black;
  font-weight: bold;
  font-size: 10pt;
  width: 100%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Footer */

footer {
  background-color: white;
  color : #686A6C;
}
footer a{
  color : #686A6C;
}
.footerTitle a{
  color: black;
}
.footerTitle{
  font-weight: bold;
}
.footerImg{
  margin-right: 8px;
}
.footerText{
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  color:#686A6C
}
.footerTextSpan{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.footerContact{
  margin-top: 80px;
}
footer ul{
  list-style-type: none;
  color : #686A6C;
}
footer ul li{
  margin-bottom: 20px;
  color : #686A6C;
}

.FooterCol {
  flex: 2;
}

.FooterColNd, .FooterColRd, .FooterColTh{
  flex: 1;
  margin-right: 30px;
}
footer i {
  display: flex;
  flex :1;
  float: left;
  font-size: 14pt;
  margin-right: 5px;
}
footer span{
  display: flex;
  flex: 4;
  align-items: flex-start;
}

/* Copyright */

.Copyright {
  background-color: white;
  color: #A6AEAD;
}

.CopyrightText {
  padding: 30px;
  font-size: 10pt;
  width: 25%;
  float: left;
}

.footerMedia {
  display: flex;
  gap: 32px;
  width: 25%;
  margin-left: 80%;
  color: #A6AEAD;
  font-size: 12pt;
  padding: 30px;
}

.footerMedia i {
  padding-left: 15px;
  cursor: pointer;
  transition: ease-out 0.3s;
}

.footerArrow {
  cursor: pointer;
  margin-left: 160px;
  font-size: 20pt;
  display: inline;
}
@media screen and (max-width: 599px) {
  .nav{
    max-width: 799px;
    width: 100%;
  }
  .background{
    max-width: 599px;
    width: 190%;
  }
  .mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .burgerMenu{
    display: block;
  }
  ul{
    max-width: 375px;
  }
  li{
    display: none;
  }
  .uploadBtn{
    display: none;
  }
  .mainLogo{
    margin-left: 16px;
  }
  .userImg{
    max-width: 24px;
    width: 100%;
    margin-left: 270px;
    margin-bottom: 16px;
  }
  .dataCards{
    display: none;
  }
  .headerDate{
    max-width: 327px;
    width: 100%;
  }

  Header .filler{
    display: flex;
    flex:0;
    margin-right: 24px;
    margin-left: 24px;
    justify-content: center;
  }
  .mainRowNd,
  .mainRowRd
  {
  display: flex;
  flex-direction: column;
  }
  .mainRow{
    display: none;
  }
  .mainCard{
    display: flex;
    flex-direction: column;
  }
  .avatarName span{
    margin-left: 76px;
  }
  .mainTitle{
    max-width: 181px;
    width: 100%;
    margin-left: 24px;
    display: block;
  }
  .mainTitle span{
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
  }
  .mobileAll{
    max-width: 589px;
    display: block;
    width: 100%;
  }
  .arrowBtn img{
    margin-left: 465px;
  }
  .flex-container{
    flex-direction: column;
  }
  .footerMedia{
    margin-left: 0;
  }
  .footerContact{
    margin-top: 40px;
    margin-left: 24px;
  }
  .footerText{
    font-size: 20px;
    line-height: 32px;
  }
  .FooterColNd, .FooterColRd{
    display: flex;
  }
}
