* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  background-color: #e91e63;
  background-image: url(../img/backgroundImgND.svg);
  background-image: url(../img/backgroundImg.svg);
  background-repeat: no-repeat;
}

.mainContainer {
  min-width: 1116px;
  display: flex;
  justify-content: center;
  margin-top: 93px;
  box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.1607843137);
  border-radius: 40px;
}
.mainContainer .leftSide {
  display: flex;
  background-color: #e91e63;
  color: #ffffff;
  font-family: "Montserrat", serif;
}
.mainContainer .leftSide h1 {
  font-size: 36px;
  line-height: 54px;
}
.mainContainer .leftSide span {
  font-size: 24px;
  line-height: 54px;
}
.mainContainer .leftSideContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.mainContainer .leftSideContainer .mainLogo {
  width: 86.93px;
  height: 86.93px;
}

.rightSide {
  display: flex;
  background-color: white;
}
.rightSide .formContainer {
  border: 1px solid;
  padding: 50px;
  min-width: 641px;
  width: 100%;
}
.rightSide .formContainer .logText {
  font-family: "Montserrat", serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}
.rightSide .formContainer .formHeader {
  display: flex;
  justify-content: space-between;
}
.rightSide .formContainer .formHeader .createText {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rightSide .formContainer .formHeader .createText a {
  font-family: "Open Sans", serif;
  text-decoration: none;
  color: #c5cae9;
}
.rightSide .formContainer .socialLinks {
  display: flex;
  justify-content: space-between;
}
.rightSide .formContainer .socialLinks .facebookBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #5856d6;
  border-radius: 38px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 29px;
  cursor: pointer;
}
.rightSide .formContainer .socialLinks .twitterBtn {
  min-width: 160px;
  min-height: 42px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #00bcd4;
  border-radius: 38px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 29px;
  cursor: pointer;
}
.rightSide .formContainer .socialLinks .googleBtn {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #d84226;
  border-radius: 38px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 29px;
  cursor: pointer;
}
.rightSide .formContainer .contentWrapper {
  display: flex;
  background-color: #424242;
  justify-content: center;
  align-items: center;
  gap: 5.5px;
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Open Sans", serif;
}
.rightSide .formContainer .contentWrapper .wrapper {
  background-color: #ffffff;
  max-width: 67px;
  flex: 1;
  height: 1px;
}
.rightSide .formContainer .usrInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rightSide .formContainer .usrInput .formBottom {
  font-family: "Roboto", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightSide .formContainer .usrInput .formBottom .bottomContainer {
  display: flex;
  gap: 12px;
}
.rightSide .formContainer .usrInput .formBottom a {
  text-decoration: none;
  color: #c5cae9;
}
.rightSide .formContainer .usrInput .formBottom span {
  color: #ffffff;
}
.rightSide .formContainer .usrInput .formBtn {
  display: flex;
  justify-content: center;
}
.rightSide .formContainer .usrInput .formBtn .submitBtn {
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #304ffe;
  border-radius: 39px;
  min-width: 558px;
  padding: 14px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */